body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
}

main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
}

.flex {
  display: flex;
}
.flex.j-between {
  justify-content: space-between;
}
.flex.a-center {
  align-items: center;
}

.section-title {
  font-weight: 300;
  font-size: 31px;
  line-height: 37px;
  color: #444444;
}
.section-title:hover {
  opacity: 0.6;
}
.section-title svg {
  display: block;
  margin-left: 18px;
}

.slider-button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #f6f6f6;
  cursor: pointer;
}
.slider-button:first-child {
  margin-right: 10px;
  transform: rotate(180deg);
}
.slider-button:hover {
  opacity: 0.6;
}

.slider-block {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.product-card {
  position: relative;
  width: 270px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.img-block {
  width: 230px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
}
.img-block img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.tags {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.tags .tag {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  color: #e49f62;
  font-size: 13px;
  line-height: 15px;
  border-radius: 5px;
}
.tags .tag:not(:last-child) {
  margin-right: 5px;
}

.tags .tag.green {
  color: #3ddc97;
  background-color: #eefcf6;
}
.tags .tag.orange {
  background-color: #fcf4ed;
  color: #e49f62;
}
.title-block {
  margin-top: 15px;
}
.class {
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #888888;
}
.name {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  margin-top: 5px;
}
.stars-block {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.stars {
  font-size: 13px;
  line-height: 15px;
  color: #00adef;
  margin-left: 5px;
}
.prices {
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 15px;
}
.prices .current-price {
  color: #444444;
  font-size: 19px;
  line-height: 23px;
}
.prices .prev-price {
  font-size: 13px;
  line-height: 15px;
  color: #888888;
  text-decoration-line: line-through;
  margin-left: 16px;
}
.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 48px;
  padding: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  background-color: #00adef;
  border: none;
  border-radius: 5px;
}
.cart-button:hover {
  opacity: 0.6;
}
.sub-button {
  margin-left: 15px;
}
.sub-button:hover {
  opacity: 0.6;
}
@media (max-width: 1100px) {
  .img-block {
    width: 209px;
    height: 150px;
    border-radius: 5px;
  }

  .product-card {
    width: 247px;
  }
  .prices .prev-price {
    display: none;
  }
}

@media (max-width: 600px) {
  main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-title {
    width: 100%;
  }
  .slider-button {
    display: none;
  }
  .product-card {
    width: 290px;
  }
  .prices .prev-price {
    display: block;
  }
  .tags {
    align-items: flex-start;
    flex-direction: column;
  }
  .tags .tag {
    margin-bottom: 5px;
  }
  .cart-button {
    width: 100%;
  }
  .sub-buttons-container {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
